<!--
  Generated template for the LoggedInPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
      <ion-icon name="log-out"></ion-icon>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
      You logged in, Have this mathematical formula F(N) = 2x + 3! so Linear!
Click below to log out
    <button ion-button clear (click)="logout()">Logout </button>
</ion-content>